body{
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
section>button{
    background-color: rgb(253, 229, 11);
    color: rgb(0, 0, 0);
    border: 5px;
    border-color: black;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.list-group-item {
    padding: 10px;
    margin-top: 5px;
    background-color: blanchedalmond;
    color: brown;
}

.mymenu{
    background-color: brown !important;
}

.myheader{
    background-color: maroon !important;
}

header form.form-inline{
    flex-flow: row;
}

header img {
    width: 40px; height: 50%;
}

button.btn {
    background-color: blanchedalmond;
    color: brown;
    border-color: brown;
}

.mybutton {
    color: blanchedalmond !important;
    border-color: blanchedalmond !important; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    }

footer > div {
    height: 100px;
}

footer img{
    width: 100%;
}

section > div > div.mapa > img{
   
    width: 100%;
   
}

section > div > a > img{
    width: 20px;
    position: absolute;
    top: 250px;
    left: 80px;
}

section > div > img{
    width: 20px;
    position: absolute;
    top: 250px;
    left: 80px;
}
section>div>div.class{
    background-color: rgb(253, 229, 11);
    width: 20px;
    position: absolute;
    top: 250px;
    left: 80px;
    height: 50px;
}

.fondo {
    border: 1px solid yellow;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: rgb(253, 229, 11);
    width: 140px;
    height: 150px;
    border-radius: 20px;
}
#bar{
    margin-top: 5px;
    text-align: center;
}
#texto > h6{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 5px;
}
.carousel-inner img{
    width: 25%!important;
    left: 30px;
}
.carousel-inner{
    left: 50px;
}

.info{
    border: 2px solid maroon;
}

header{
    position: fixed;
    z-index: 10000;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 574px)
{
    header form, header button.btn{width: 60%;}
}